<% layout('layouts/boilerplate') %>
	<h1>
		<%= camp.title %>
	</h1>
	<h2>
		<%= camp.location %>
	</h2>
	<h2>
		<%= camp.price %>
	</h2>
	<div>
		<img class="img-fluid" src="<%= camp.image %>" alt="Camp img">
	</div>
	<p>
		<%= camp.description %>
	</p>

	<form action="/campgrounds/<%= camp._id %>?_method=delete" method="post">
		<button>Delete</button>
	</form>
	<a href="/campgrounds/<%= camp._id %>/edit">Edit</a>
	<a href="/campgrounds">Go back</a>