<% layout('layouts/boilerplate') %>
	<h1>Products</h1>
	<% for (prod of products){ %>
		<div class="card mb-3">
			<div class="row">
				<div class="col-md-8">
					<div class="card-body">
						<h4 class="card-title">
							<%= prod.title %>
						</h4>
						<p class="card-text">
							<%= prod.weight %>
						</p>
						<p class="card-text">
							<small class="text-muted">
								<%= prod.price %>
							</small>
						</p>
						<a class="btn btn-primary" href="/products/<%= prod._id %>">View <%= prod.title %></a>
					</div>
				</div>
			</div>
		</div>
		<% } %>